//-
   Created by leiko on 08/04/14.
script(src="./node_modules/kevoree-comp-vitalsigns/resources/js/Chart.min.js")
style.
  @import url('./node_modules/kevoree-comp-vitalsigns/resources/css/bootstrap.min.css')

.container-fluid
  .row
    canvas#chart(width="400", height="400")